@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply bg-bluebtn bg-opacity-20;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #434656;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #458eed;
}
